##########
# System files
.DS_Store
*.pyc
*__pycache__*
*.Rhistory*
*.RData*

#########
# Data files
data/
*slurm_logs/
*.snakemake/

#data/01-Pseudo-assemblies/
# data/02-Genomic-discordance/data/coord-query/
# data/02-Genomic-discordance/data/10kb-0.5-0.5-0.1mb-topo-counts-tt.csv
# data/02-Genomic-discordance/data/10kb-0.5-0.5-1mb-topo-counts-tt.csv
# data/02-Genomic-discordance/data/10kb-0.5-0.5-5mb-topo-counts-tt.csv
# data/03-Selection-tests/data/mm10-cds-windows.csv
# data/03-Selection-tests/data/mm10-cds-windows-rf.csv

scripts/03-selection-tests/aln-test-spec4-seq20-site50/
summary-data/02-genomic-windows/coord-query/

ms/co-author-edits/

#########
# etc
blah